
.user-title {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.feed-div, .publication-form{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.publicationCard {
    margin: 5px 0px;
}

.publication-form mat-form-field {
    width: 100%;
    border-right: 5px;
    margin: 10px 20px 10px 0px;
}

.publicationCard mat-card-actions {
    display: flex;
}

.publicationCard mat-card-actions button{
    margin: auto 10px auto auto;
} 

.size-adjust {
    margin: 0px;
    display: flex;
    width: 480px;
}

.size-adjust button{
    margin: auto 0px auto 0px;
    height: 50%;
}

.size-adjust2{
    margin: 0px;
    display: flex;
    width: 480px;
    flex-direction: column;
}

#deleteBtn {
    margin: auto 0px auto 10px;
    height: 50%;
}

#comentarBtn{
    margin: auto auto auto 0px;
    height: 50%;
}

.publicationCard mat-form-field {
    width: 100%;
}


.comment-card {
    margin: 20px auto;
}
